.wrapper {
    position: relative;
    display: flex;
    width: fit-content;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 2.75rem .5rem 1.5rem;
    border-radius: .25rem;
    height: 2.5rem;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: inherit;
}

.primary {
    color: var(--gray-0);
}
.primary .category {
    background: var(--green-0);
}

.secondary {
    color: var(--green-0);
}
.secondary .category {
    border: 1px solid var(--green-0);
}

.favorite {
    position: absolute;
    right: 1rem;
    top: .625rem;
    color: inherit;
}
